.loader {
  position: absolute;
  display: inline-block;
  top: 40%;
  left: 50%;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 10px solid;
  border-color: rgba(51, 122, 183, 0.15) rgba(51, 122, 183, 0.25) rgba(51, 122, 183, 0.35) rgba(51, 122, 183, 0.5);
  box-sizing: border-box;
  translate: -50%;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
